<gds-grid-row>
    <gds-grid-column size="twoThirds">
        <gds-heading size="xl">
            Sorry, there is a problem with the service
        </gds-heading>
        <gds-paragraph>
            Try again later.
        </gds-paragraph>
        <gds-paragraph>
            If you require immediate assistance, <a asp-controller="HelpAndInformation" asp-action="ContactUs">contact us</a>.
        </gds-paragraph>
    </gds-grid-column>
</gds-grid-row>