<gds-grid-row>
    <gds-grid-column size="twoThirds">
        <gds-heading size="xl">
            Page not found
        </gds-heading>
        <gds-paragraph>
            If you typed the web address, check it is correct.
        </gds-paragraph>
        <gds-paragraph>
            If the web address is correct or you selected a link or button, <a asp-controller="HelpAndInformation" asp-action="ContactUs">contact us</a> if you need to speak to someone about this service.
        </gds-paragraph>
    </gds-grid-column>
</gds-grid-row>