<gds-grid-row>
    <gds-grid-column size="twoThirds">
        <gds-heading size="xl">
            Not implemented
        </gds-heading>
        <gds-paragraph>
            The address you were trying to access was not recognized or the service lacks the ability to fulfill it.
        </gds-paragraph>
        <gds-paragraph>
            If you require immediate assistance, <a asp-controller="HelpAndInformation" asp-action="ContactUs">contact us</a>.
        </gds-paragraph>
    </gds-grid-column>
</gds-grid-row>