<gds-grid-row>
    <gds-grid-column size="twoThirds">
        <gds-heading size="xl">
            Sorry, the service is unavailable
        </gds-heading>
        <gds-paragraph>
            This service is not available to use at this moment in time.
        </gds-paragraph>
        <gds-paragraph>
            If you require immediate assistance, <a asp-controller="HelpAndInformation" asp-action="ContactUs">contact us</a>.
        </gds-paragraph>
    </gds-grid-column>
</gds-grid-row>