<gds-grid-row>
    <gds-grid-column size="twoThirds">
        <gds-heading size="xl">
            Not authorised
        </gds-heading>
        <gds-paragraph>
            You are not authorised to use this page, if you typed the web address, check it is correct.
        </gds-paragraph>
        <gds-paragraph>
            If the web address is correct and you believe that you are authorised to view it, <a asp-controller="HelpAndInformation" asp-action="ContactUs">contact us</a>.
        </gds-paragraph>
    </gds-grid-column>
</gds-grid-row>